.FeatureSection{
    margin-bottom: 2rem;
}
.Containe{
    margin-top: 4rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    max-width: 1140px;
}
.Roww{
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.TextDiv{
    margin-bottom: 3rem;
    text-align: center;
    margin-top: 2rem;
    position: relative;
    width: 42%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.ImgDiv{
    height: 650px;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    text-align: center;
    margin-top: 2rem;
    position: relative;
    width: 49%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.ImgDiv>img{
    width: 100%;
    vertical-align: middle;
    border-style: none;
    text-align: center;
}
  
.GP{
    font-size: 14px;
    color: #25cf60;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem;
    margin-top: 0;
    text-align: left;
}

.H2{
    padding-right: 2rem !important;
    text-align: left;
    font-size: 48px;
    font-weight: 600;
    color: #1b1b20;
    z-index: 1;
    position: relative;
    letter-spacing: 0;
    cursor: default;
    font-family: lato, sans-serif;
    margin-bottom: 0.5rem;
    line-height: 1.1;
}
.Para{
    font-size: 16px;
    font-weight: 400;
    padding: 1rem 0;
    text-align: left;
    margin-top: 0;
    margin-bottom: 1rem;
}

.Content{
    margin-top: 10px;
    min-height: 240px;
}
.Card{
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
}

.H3{
    padding: 0;
    text-align: left;
    margin-bottom: 0 !important;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 0;
    /* background-color: #f3f3f3; */
}
.H3>button{
    font-size: 15px;
    text-decoration: none;
    border-bottom: 2px solid #25cf60;
    color: #1b1b20;
    font-weight: 700;
    padding-bottom: 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    line-height: 1.25;
    transition: all 0.15s ease-in-out;
    /* background-color: #f3f3f3; */
}

.CardBody{
    margin: 0 !important;
    padding: 1rem 0 0;
    flex: 1 1 auto;
    /* background-color: #f3f3f3; */
}
.CardBody>p{
    text-align: left;
    margin-top: 0;
    margin-bottom: 1rem;
}
.desk{
    border-bottom: 0;
    /* background-color: #f3f3f3; */
    padding: 0;
}
.desk>h3{
    padding: 0;
    text-align: left;
    margin-bottom: 0 !important;
    letter-spacing: 0;
    cursor: default;
    font-family: lato, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    color: inherit;
    margin-top: 0;
}

.desk>button{
    font-size: 15px;
    border-bottom: none;
    text-decoration: none;
    color: #767676;
    font-weight: 400;
    padding-bottom: 10px;
}    
  
.GreenBtnn{
    display: flex;
    margin-top: 2rem;
    width: fit-content;
    background-color: #25cf60;
    border-radius: 26px;
    padding: 15px 40px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
} 
/* const GreenBtnn = styled.a`
  

  :hover {
    background-color: #1da44c;
  }
`; */